# [Problem](https://projecteuler.net/problem=22) No. 22

## Names scores

Using [names.txt](./p022_names.txt), a 46K text file containing over five-thousand first names, begin by sorting it into alphabetical order.<br>
Then working out the alphabetical value for each name, multiply this value by its alphabetical position in the list to obtain a name score.

For example, when the list is sorted into alphabetical order, COLIN, which is worth $3 + 15 + 12 + 9 + 14 = 53$, is the $938^{\text{th}}$ name in the list.<br>
So, COLIN would obtain a score of $938 \times 53 = 49714$.

What is the total of all the name scores in the file?

In [1]:
import string

In [2]:
# Open the file 'p022_names.txt' in read mode
with open('p022_names.txt', 'r') as file:
    # Read the entire content of the file
    # Split the content into a list of names using comma as the separator
    # For each name in the list, remove the double quotes
    # Store the cleaned names in the list 'first_names'
    first_names = [name.strip('"') for name in file.read().split(',')]

In [3]:
len(first_names)

5163

In [4]:
first_names.sort()

In [5]:
letter_values = {
    letter:index
    for index, letter
    in enumerate(string.ascii_uppercase, start=1)
    }

In [6]:
def get_alphabetic_value(name: str) -> int:
	return sum( letter_values[letter] for letter in name )

In [7]:
print(get_alphabetic_value("COLIN"))
print(first_names.index("COLIN") + 1)
get_alphabetic_value("COLIN") * (first_names.index("COLIN")+1)

53
938

49714

In [8]:
total_value = sum(get_alphabetic_value(name) * (index + 1) for index, name in enumerate(first_names))

In [9]:
total_value

871198282